{{#posts}}
  <a class="load-document" href="#{{author}}/{{name}}">
   <div class="document {{active}}">
     <img src="{{cover}}" />
     <div class="published">{{timeago}}</div>
     <div class="title">{{title}}</div>
     <div class="teaser">{{lead}}</div>
   </div>
  </a>
{{/posts}}
{{^posts}}No posts{{/posts}}