{{#posts}}
  <a class="load-document" href="#/{{author}}/{{name}}">
   <div id="/{{author}}/{{name}}" class="document">
     <!-- <img class="preview" height="60" src="{{cover}}" /> -->
     <div class="title">{{title}}</div>
     <div class="published">{{timeago}}</div>
     <div class="teaser">{{views}} views</div>
   </div>
  </a>
{{/posts}}
{{^posts}}No posts{{/posts}}