<div class="title">{{name}}</div>
 <div class="subtitle">{{subtitle}}</div>
 <div id="avatar">
   <img src="http://substance.io/avatar/{{substance}}/125" />
 </div>
 <div class="channel"></div>
 <div id="navigation">
   <div class="toggle home">
     <div class="navitem">
       <a href="http://github.com/{{github}}">Projects</a>
     </div>
   </div>
   <div class="toggle home">
     <div class="navitem">
       <a href="http://twitter.com/{{twitter}}">Twitter</a>
     </div>
   </div>
 </div>
</div>